<div class="line">
  <a routerLink="/examples/reactive-forms/novo" class="new">Novo</a>
</div>

<div class="side-by-side">
  <table>
    <thead>
      <tr>
        <div>
          <th>id</th>
          <th>name</th>
        </div>
        <th>ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of models">
        <a [routerLink]="['/examples/reactive-forms', model.getId()]">
          <td>{{ model.getId() }}</td>
          <td>{{ model.getName() }}</td>
        </a>
        <td>
          <a href="javascript:void(0)" (click)="onDestroy(model)">excluir</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="side-by-side">
  <router-outlet></router-outlet>
</div>
