<form
  #form="ngForm"
  (ngSubmit)="onSubmit(form)"
  (input)="onInput()"
  >

  <input
    [ngModel]="modelReference?.name"
    name="name"
    placeholder="nome"
    required
    minlength="4"
  />

  <app-form-validation-msg
    [control]="form.controls['name']"
    [messages]="{
      required: 'Não pode ficar em branco.',
      minlength: 'Deve ter no mínimo 4 caracteres.'
    }"
  ></app-form-validation-msg>

  <div class="actions">
    <button type="submit">Salvar</button>
  </div>

</form>
