<nav class="tabs-behavior">
  <ul class='float-right'>
    <li>
      <!-- check if there is authenticated anyone with the directive *ngIf to show Login or Logout -->
      <a routerLink="/sign_in">Login</a>
    </li>
    <li>
      |
    </li>
    <li>
      <a routerLink="/">Home</a>
    </li>
  </ul>
</nav>
