<dl>
  <div>
    <dt>Id:</dt>
    <dd>{{ modelReference.getId() }}</dd>
  </div>
  <div>
    <dt>Nome:</dt>
    <dd>{{ modelReference.getName() }}</dd>
  </div>
</dl>

<div class="line">
  <a [routerLink]="['/examples/reactive-forms', modelReference.getId(), 'editar']">Editar</a>
</div>
