<h3>Component Child</h3>

<h4>Event binding</h4>

<!-- event binding (event)="componentMethod(args...)" -->
<div>
  <button (click)="decrement()">-</button>
  <input type="text" [value]="propertyBindingValue" disabled/>
  <button (click)="increment()">+</button>
</div>
