<header>
  <app-header></app-header>
</header>
<main>
  <app-horizontal-menu *ngIf="showMenuIf"></app-horizontal-menu>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
<!-- <footer></footer> -->
